**/**/.ipynb_checkpoints
Untitled.ipynb
.env
**/**/__pycache__
**/**/__pycache__
test*.ipynb
test.sh
data/*
.idea
models/*
randstainna/*
CLAM/*
meta/*
deployment/weights
outputs
docs/*.pdf
docs/Report/*.tex